.Aboutme-header {
    color:var(--color5);
    text-align: start;
    font-size: 4rem;
    text-shadow: 0 0 0.5vw var(--color4);
    margin-top: 5dvh;

    margin-left: 5vw;
}
.Aboutme-content {
    color:var(--color5);
    text-align: start;
    font-size: 1.5rem!important;

    margin-left: 5dvw;
    margin-right: 5dvw;
    line-height: 2rem;

}
.About-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 30dvh;
}

@media (max-width: 768px) {
    .Aboutme-header {
        font-size: 2.5rem;
        text-align: center;
        margin-left: 0;
    }
    .Aboutme-content {
        font-size: 1rem!important;
        text-align: center;
        margin-left: 2dvw;
        margin-right: 2dvw;
    }
    .About-container {
        align-items: center;
    }



}