@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');
@import url("./colors.css");

.montserrat-regular {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.montserrat-semibold {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.montserrat-bold {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.montserrat-extrabold {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}
.montserrat-black {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}
body {
  width: 100dvw;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--color1);
  color: var(--text-primary);
}
.Rayscontainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; 
    z-index: -1;          
}
::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}   

.scroll-button {
  position: fixed;
  bottom: calc(2.5dvh + env(safe-area-inset-bottom)); /* 20px yerine 2.5dvh */
  left: 50%;
  transform: translateX(-50%);
  padding: 1.2dvh 2.5dvw; /* mobil uyumlu padding */
  background: none;
  color: white;
  border-radius: 1dvh;
  cursor: pointer;
  z-index: 9999;
  transition: opacity 0.5s ease;
}

.scroll-button.hidden {
  opacity: 0;
  pointer-events: none;
}

.scroll-button.visible {
  opacity: 1;
  pointer-events: auto;
}

/* Küçük ekranlarda biraz daha yukarı */
@media (max-width: 768px) {
  .scroll-button {
    bottom: 6dvh;
  }
}
