:root{
    --color1:#212529;
    --color2:#343a40;
    --color3:#495057;
    --color4:#6c757d;
    --color5:#adb5bd;
    --color6:#ced4da;
    --color7:#dee2e6;
    --color8:#e9ecef;
    --color9:#f8f9fa;

}