@import url("./colors.css");


.contact {  
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;

}

.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0.5px solid var(--color1);
    box-shadow: inset 0 0 2dvw var(--color4);
    width: 80dvw;
    height: 70dvh;
    border-radius: 5dvw;
    background: rgba(52, 58, 64, 0.5);
}

.contact-main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: var(--color9);
    font-weight: 600;
    text-shadow: 0 0 1dvw var(--color1);
}
.contact-form{
    width: 40dvw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2dvh;

}
.contact-info{
    display: flex;
    height: 50dvh;
    width: 40dvw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1dvh;
    border-right: 0.5px solid var(--color9);
}
.contact-header{
    font-size: 3dvw;
    height: 10vh;
    text-shadow: 0 0 1dvw var(--color5);
    color: var(--color6);
    margin-bottom: 0;
    margin-top: 0;
    
}
.Emaildiv{
    display: flex;
    justify-content: start;
    align-items: center;
    border: 0.5px solid var(--color5);
    border-radius: 1dvw;
    width: 30dvw;
    font-size: 1.5dvw;
    box-shadow: inset 0 0 1dvw var(--color4);
    padding-left: 3dvw;
}
.email-icon{
    
    font-size: 2dvw;
    margin-right: 1dvw;
}
.Adressdiv{
    display: flex;
    justify-content: start;
    align-items: center;
    border: 0.5px solid var(--color5);
    border-radius: 1dvw;
    width: 30dvw;
    font-size: 1.5dvw;
    box-shadow: inset 0 0 1dvw var(--color4);
    padding-left: 3dvw;
}
.location-icon{
    font-size: 2dvw;
    margin-right: 1dvw;
}
.email-text, .address-text{
    width: 24dvw;
    text-align: center;
    justify-content: center;
}
.name{
    width: 14dvw;
    margin: 1dvh;
    height: 5dvh;
    border-radius: 1dvw;
    border: 0.5px solid var(--color5);
    box-shadow: inset 0 0 1dvw var(--color4);
    padding-left: 1dvw;
    font-size: 1.5dvw;
    background: var(--color2);
    color: var(--color9);
}
.surname{
    width: 14dvw;
    height: 5dvh;
    margin: 1dvh;
    border-radius: 1dvw;
    border: 0.5px solid var(--color5);
    box-shadow: inset 0 0 1dvw var(--color4);
    padding-left: 1dvw;
    font-size: 1.5dvw;
    background: var(--color2);
    color: var(--color9);
}
.email{
    width: 30dvw;
    height: 5dvh;
    border-radius: 1dvw;
    border: 0.5px solid var(--color5);
    box-shadow: inset 0 0 1dvw var(--color4);
    padding-left: 1dvw;
    font-size: 1.5dvw;
    background: var(--color2);
    color: var(--color9);
}
        
.message{
    width: 30dvw;
    height: 20dvh;
    border-radius: 1dvw;
    border: 0.5px solid var(--color5);
    box-shadow: inset 0 0 1dvw var(--color4);
    padding-left: 1dvw;
    font-size: 1.5dvw;
    background: var(--color2);
    color: var(--color9);
}
.subject{
    width: 30dvw;
    height: 5dvh;
    border-radius: 1dvw;
    border: 0.5px solid var(--color5);
    box-shadow: inset 0 0 1dvw var(--color4);
    padding-left: 1dvw;
    font-size: 1.5dvw;
    background: var(--color2);
    color: var(--color9);
}
.input-names{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 32dvw;

}
.submit{
    width: 10dvw;
    height: 5dvh;
    border-radius: 1dvw;
    border: 0.5px solid var(--color5);
    box-shadow: 0 0 1dvw var(--color4);
    font-size: 1.5dvw;
    background: var(--color2);
    color: var(--color6);
    cursor: pointer;
    transition: 0.3s;
}
.submit:hover{
    background: var(--color5);
    box-shadow: 0 0 1dvw var(--color4);
    color: var(--color2);
    transition: 0.3s;
}
::placeholder{
    color: var(--color9);
    opacity: 0.5;
}
.name:focus, .surname:focus, .email:focus, .message:focus, .subject:focus{
    outline: none;
    border: 0.5px solid var(--color6);
    box-shadow: inset 0 0 1dvw var(--color6);
    transition: 0.6s;
}
.name, .surname, .email, .message, .subject{
    transition: 0.6s;
}
