@import url("./colors.css");


.HiText1{

    color:var(--color9);
    font-size: 8dvw;
    align-items: center;
    justify-content: start;
    text-align: center;
    text-shadow: 0 0 2dvh var(--color8);
    
}
.HiText2{
    height: auto;
    color:var(--color9);
    font-size: 4dvw;
    align-items: center;
    justify-content: start;
    text-align: center;
    text-shadow: 0 0 2dvh var(--color8);
}
.profile-picture{
    width: 20dvw;
    height: 20dvw;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 2dvh var(--color5);
}
.ppdiv{

    text-align: end;
    
}
.HiContainer{
    height: 90dvh;
    display: flex;
    flex-direction: row-reverse;
    justify-content:space-around;
    align-items: center;
}
.texts-container{
    width: 60dvw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;

}
.HiText1c, .HiText2c {
    height: 40dvh;
    
}

@media (max-width: 768px) {

    .HiContainer{
        flex-direction: column;
        height: auto;
        margin-top: 5dvh;
        margin-bottom: 15dvh;
        height: 80dvh;
    }   
    .texts-container{
        width: 90dvw;
        height: 50dvh;
    }
    .HiText1{
        font-size: 28dvw;
        text-align: center;
        justify-content: center;
    }
    .HiText2{
        font-size: 6dvw;
        text-align: center;
        justify-content: center;
        
    }
    .HiText1c, .HiText2c {
        height: 40dvh;
        
        
    }
    .ppdiv{
        text-align: center;
        
    }
    .profile-picture{
        width: 50dvw;
        height: 50dvw;
    }
}